{% extends "base.html" %}

{% import "macros.html" as m %}

{% block content %}

<div id='content' class='row'>
    <div id='main_section' style=''>
    {% for address in data.Web.Groups %}
    <div class="address" id="{{ address[0] }}">
        {% for group in address %}
        
        {% if group.description and group.gpiopin %}
            <div class='switch'>

                
                    {% call m.card(data) %}
                        <label class="{% if data.Web.UI.SwitchWaveEffect %}waves-effect{% endif %} {{ data.Web.UI.WaveType }}" style="width:100%">
                            
                            <div class='divider-spacer'></div>

                            <div>
                                <div class="label-description-container">
                                    {% if data.Web.UI.LabelColor[0] == "#" %}
                                        <span class="switchlabel" style="color:{{ data.Web.UI.LabelColor }}">{{ group.description }}</span>
                                    {% else %}
                                        <span class="switchlabel {{ data.Web.UI.LabelColor }}">{{ group.description }}</span>
                                    {% endif %}
                                </div>
                                <div class="levercontainer">
                                    <input type="checkbox" name="{{ group.gpiopin }}" id="{{ group.description }}" onclick="switch_onclick(this)">
                                    <span class="lever"></span>
                                </div>
                            </div>

                            <div class='divider-spacer'></div>
                            
                        </label>
					{% endcall %}
                    
            </div>
        {% endif %}
        
        {% endfor %}
    </div>
    {% endfor %}
	
	
    </div>


    <div id='people_section' style='display:none'>
        {% for person in data.Web.People %}
            <div class='person'>
            {% call m.card(data) %}
                <label class="waves-effect {{ data.Web.UI.WaveType }}" style="width:100%">
                    
                    <div class='divider-spacer'></div>

                    <div>
                        <div class="label-description-container">
                            {% if data.Web.UI.LabelColor[0] == "#" %}
                                <span class="personlabel" style="color:{{ data.Web.UI.LabelColor }}">{{ person.name }}</span>
                            {% else %}
                                <span class="personlabel {{ data.Web.UI.LabelColor }}">{{ person.name }}</span>
                            {% endif %}
                        </div>
                        <div style="float:right; display:inline; margin-right:20px">
                            {% if data.Web.UI.LabelColor[0] == "#" %}
                                <span id='{{ person.name }}_io' style="color:{{ data.Web.UI.LabelColor }}">OUT</span>
                            {% else %}
                                <span id='{{ person.name }}_io' class="{{ data.Web.UI.LabelColor }}">OUT</span>
                            {% endif %}
                        </div>
                    </div>

                    <div class='divider-spacer'></div>
                    
                </label>
        
            {% endcall %}
            </div>
        {% endfor %}
    </div>

    <div id='hvac_section' style='display:none'>
        
        {% for thermostat in data.Web.HVAC %}
            <div id="{{ thermostat.Address }}_thermostat" class='thermostat'>
                
                <div class="row">
                    <div class="col s12 m6">
                        <div class="card {{ data.Web.UI.CardColor }}">
                            <div id="actual_temp_div" class="card-content">
                                
                                <span class="card-title {{ data.Web.UI.LabelColor }}">Actual Temperature</span>
                                <p id='actual_temp_{{ thermostat.Address }}' class='temp center-align'>--</p>
                                
                            </div>
                        </div>
                    </div>


                    <div class="col s12 m6">
                        <div class="card {{ data.Web.UI.CardColor }}">
                            <div id="target_temp_div" class="card-content">
                                <span class="card-title {{ data.Web.UI.LabelColor }}">Target Temperature</span>
                                
                                <p class='temp center-align'>
                                    
                                    <i class="medium material-icons waves-effect {{ data.Web.UI.WaveType }}" onclick="lower_target('{{ thermostat.Address }}')">keyboard_arrow_left</i>
                                    
                                    <span id='target_temp_{{ thermostat.Address }}'>--</span>
                                    
                                    <i class="medium material-icons waves-effect {{ data.Web.UI.WaveType }}" onclick="raise_target('{{ thermostat.Address }}')">keyboard_arrow_right</i>

                                </p>
                                                                
                            </div>
                        </div>
                    </div>

               <!--  </div>

                <div class='row'> -->
                    <div class="col s6 m4 offset-m2">
                        <div class="card {{ data.Web.UI.CardColor }}">
                            <div id="fan_div" class="card-content">
                                
                                <span class="card-title {{ data.Web.UI.LabelColor }}">Fan</span>
                                <p>
                                    <input name="fan_{{ thermostat.Address }}" type="radio" id="fan_auto_{{ thermostat.Address }}" onclick="send_hvac_data('{{ thermostat.Address }}')" data-jsonval='auto'/>
                                    <label for="fan_auto_{{ thermostat.Address }}">Auto</label>
                                </p>
                                <p>
                                    <input name="fan_{{ thermostat.Address }}" type="radio" id="fan_on_{{ thermostat.Address }}" onclick="send_hvac_data('{{ thermostat.Address }}')" data-jsonval='on'/>
                                    <label for="fan_on_{{ thermostat.Address }}">On</label>
                                </p>
                                <p>
                                    <input name="fan_{{ thermostat.Address }}" type="radio" id="fan_off_{{ thermostat.Address }}" onclick="send_hvac_data('{{ thermostat.Address }}')" data-jsonval='off'/>
                                    <label for="fan_off_{{ thermostat.Address }}">Off</label>
                                </p>
                                
                            </div>
                        </div>
                    </div>

                    <div class="col s6 m4">
                        <div class="card {{ data.Web.UI.CardColor }}">
                            <div id="compressor_div" class="card-content">
                                
                                <span class="card-title {{ data.Web.UI.LabelColor }}">Compressor</span>
                                <p>
                                    <input name="compressor_{{ thermostat.Address }}" type="radio" id="compressor_auto_{{ thermostat.Address }}" onclick="send_hvac_data('{{ thermostat.Address }}')" data-jsonval='auto'/>
                                    <label for="compressor_auto_{{ thermostat.Address }}">Auto</label>
                                </p>
                                <p>
                                    <input name="compressor_{{ thermostat.Address }}" type="radio" id="compressor_heat_{{ thermostat.Address }}" onclick="send_hvac_data('{{ thermostat.Address }}')" data-jsonval='heat'/>
                                    <label for="compressor_heat_{{ thermostat.Address }}">Heat</label>
                                </p>
                                <p>
                                    <input name="compressor_{{ thermostat.Address }}" type="radio" id="compressor_cool_{{ thermostat.Address }}" onclick="send_hvac_data('{{ thermostat.Address }}')" data-jsonval='cool'/>
                                    <label for="compressor_cool_{{ thermostat.Address }}">Cool</label>
                                </p>
                                
                            </div>
                        </div>
                    </div>


                </div>

                <style>
                    
                    .temp {
                        font-size: 100px
                    }

                </style>
            </div>
            
        {% endfor %}



    </div>

    <div id='plotly_section' style="">
        
        {% for thermostat in data.Web.HVAC %}
            <div class="card_container col s12">
                <div class='card white'>
                    <span class="card-title {{ data.Web.UI.LabelColor }}">{{ thermostat.Address }}</span>
                    <a href="https://plot.ly/~{{ thermostat.plotly.uname }}/{{ thermostat.plotly.graph_number }}/" target="_blank" style="display: block; text-align: center;"><img src="https://plot.ly/~{{ thermostat.plotly.uname }}/{{ thermostat.plotly.graph_number }}.png" style="max-width: 100%;"  onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
                    <script data-plotly="{{ thermostat.plotly.uname }}:{{ thermostat.plotly.graph_number }}" src="https://plot.ly/embed.js" async></script>
                </div>
            </div>

        {% endfor %}

    </div>
    
    
<!--    begin settings section-->
    
    <div id='settings_section' style='display:none'>
    <div style="margin-top:30px"></div>
    <form id='form1'>

        <div id="NetworkForm" class='subform' style='display:none'>

            <div class="row">
                {{ m.input_text(data.HTTP.port, "HTTP Port", "s4", "HTTP_Port") }}
                {{ m.input_text(data.WebSocket.port, "WebSocket Port", "s4", "WebSocket_Port") }}
				{{ m.input_text(data.TCP.port, "TCP Port", "s4", "TCP_Port") }}
            </div>

        </div>

        <div id="UIForm" class='subform' style='display:none'>

            <div class="row">
                {{ m.input_text(data.Web.UI.NavColor, "NavBar Color (Materialize)", "s6 l4", "NavColor") }}
				{{ m.input_text(data.Web.UI.BodyColor, "Body Color", "s6 l4", "BodyColor") }}
				{{ m.input_text(data.Web.UI.ChromeHeaderColor, "Lollipop Header Color (hex)", "s6 l4", "ChromeHeaderColor") }}
				
				{{ m.input_text(data.Web.UI.LabelColor, "Group Label Text Color", "s6 l4", "LabelColor") }}
				{{ m.input_text(data.Web.UI.WaveType, "Switch Wave Effect Type", "s6 l4", "WaveType") }}
				{{ m.input_text(data.Web.UI.CardColor, "Card Color (Materialize)", "s6 l4", "CardColor") }}
            </div>
            
			
		    <div class="row">
            <div class="divider col offset-s1 s10"></div>
		    </div>
			
            <div class="row">
                {{ m.input_text(data.Web.UI.SwitchKnobColorOff, "Switch Knob (OFF) (hex)", "s6", "SwitchKnobColorOff") }}
				{{ m.input_text(data.Web.UI.SwitchKnobColorOn, "Switch Knob (ON) (hex)", "s6", "SwitchKnobColorOn") }}
				
				{{ m.input_text(data.Web.UI.SwitchBGColorOff, "Switch Background (OFF) (hex)", "s6", "SwitchBGColorOff") }}
				{{ m.input_text(data.Web.UI.SwitchBGColorOn, "Switch Background (ON) (hex)", "s6", "SwitchBGColorOn") }}
            </div>
			
		    <div class="row">
            <div class="divider col offset-s1 s10"></div>
		    </div>
			
            <div class="row">
				{{ m.input_text(data.Web.UI.SettingsFontColor, "Settings Font Color (hex)", "s6", "SettingsFontColor") }}
				{{ m.input_text(data.Web.UI.FontWeight, "Font Weight", "s6", "FontWeight") }}
			
				{{ m.input_text(data.Web.UI.DropDownColor, "Settings Menu Color", "s6", "DropDownColor") }}
				{{ m.input_text(data.Web.UI.DropDownText, "Drop Down Text Color", "s6", "DropDownText") }}
            </div>

        </div>

        <div id="GroupsForm" class='subform' style='display:none'>
            {% for address in data.Web.Groups %}

            <div class="card address_group {{ data.Web.UI.CardColor }}">

                <div class="row">
					{{ m.input_text(address[0], "Address", "s12", "address[0]", class='addr') }}
                </div>

                {% for group in address %} {% if group.description and group.gpiopin %}
                
				<div class="row switchgroupdata">
                    {{ m.input_text(group.description, "Label", "s6", group.description + "_description") }}
					
					{{ m.input_text(group.gpiopin, "GPIO Pin", "s6", group.description + "_gpiopin") }}
                </div>
                
				{% endif %} {% endfor %}

                <div class="row switchgroupdata">
                    {{ m.input_text("", "Label", "s6", "NEW_description") }}
					{{ m.input_text("", "GPIO Pin", "s6", "NEW_gpiopin") }}
                </div>

            </div>

            {% endfor %}


            <!-- revise add new section -->

            <div class="card address_group {{ data.Web.UI.CardColor }}">

                <div class="row">
                    {{ m.input_text("", "Address", "s12", "NEW_addr", class='addr') }}
                </div>

                <div class="row switchgroupdata">
                    {{ m.input_text("", "Label", "s6", "NEW_description") }}
					{{ m.input_text("", "GPIO Pin", "s6", "NEW_gpiopin") }}
                </div>
            </div>

        </div>


        <div class="submitcontainer">
            <a class="btn waves-effect waves-light" name="submitbutton" onclick="send_json_data()">Submit
		    	<i class="mdi-content-send right"></i>
			</a>
        </div>
    </form>
    </div>
    
	
</div>

<style>
    div.divider-spacer {
        height: 1.5em;
        background-color: transparent;
    }
    
    div label span {
        font-size: 2em;
    }
    
    div.label-description-container {
        margin-left: 20px;
        display: inline;
    }
    
    div.switch label div.levercontainer {
        margin-top: 5px;
        display: inline;
        float: right;
    }
    
    .switch label .lever::after {
        background-color: {{ data.Web.UI.SwitchKnobColorOff }};
    }
    
    .switch label input[type=checkbox]:checked + .lever::after {
        background-color: {{ data.Web.UI.SwitchKnobColorOn }};
    }
    
    .switch label .lever {
        background-color: {{ data.Web.UI.SwitchBGColorOff }};
    }
    
    .switch label input[type=checkbox]:checked + .lever {
        background-color: {{ data.Web.UI.SwitchBGColorOn }};
    }
    
    .waves-effect.waves-holo .waves-ripple {
        background-color: rgba(0, 153, 204, 0.5);
    }
</style>

<style type='text/css'>
    div.submitcontainer {
        float: right;
        margin-bottom: 30px;
        margin-right: 30px;
        clear: both;
    }
    
    html {
        color: {{ data.Web.UI.SettingsFontColor }};
    }
</style>

{% endblock %}