{% macro body(data) -%}

{% if data.Web.UI.BodyColor[0] == "#" %}
<body style="background-color:{{ data.Web.UI.BodyColor }}">
{% else %}
<body class="{{ data.Web.UI.BodyColor }}">
{% endif %}
    
{{ caller() }}

</body>

{%- endmacro %}


{% macro dropdown(data) -%}

<li>
    <a class="{{ data.Web.UI.DropDownText }}" href="#!" onclick="hide('main_section'); hideforms(); show('settings_section'); show('UIForm'); nav_activate('topnav_settings')">UI</a>
</li>

<li>
    <a class="{{ data.Web.UI.DropDownText }}" href="#!" onclick="hide('main_section'); hideforms(); show('settings_section'); show('NetworkForm'); nav_activate('topnav_settings')">Network</a>
</li>

<li>
    <a class="{{ data.Web.UI.DropDownText }}" href="#!" onclick="hide('main_section'); hideforms(); show('settings_section'); show('GroupsForm'); nav_activate('topnav_settings')">Groups</a>
</li>

{%- endmacro%}


{% macro card(data) -%}
<div class="card_container col s12 l6">
    <div class="card {{ data.Web.UI.CardColor }}">
        {{ caller() }}
    </div>
</div>
{%- endmacro %}



{% macro input_text(variable, label, sizing, id, class='') -%}
<div class="input-field col {{ sizing }}">
    <input value="{{ variable }}" id="{{ id }}" type="text" class="{{ class }}">
    <label class="active" for="{{ id }}">{{ label }}</label>
</div>

{%- endmacro %}