{% macro body(data) -%}

{% if data.Web.UI.BodyColor[0] == "#" %}
<body style="background-color:{{ data.Web.UI.BodyColor }}">
{% else %}
<body class="{{ data.Web.UI.BodyColor }}">
{% endif %}
    
{{ caller() }}

</body>

{%- endmacro %}


{% macro dropdownli(data, form) -%}
<li>
    <a class="{{ data.Web.UI.DropDownText }}" href="#!" onclick="
    $('.section').hide(); 
    $('#settings_section').show();
    $('.subform').hide();
    $('#{{ form }}Form').show();
    nav_activate('topnav_settings')">{{ form }}</a>
</li>
{%- endmacro %}

{% macro dropdown(data) -%}

{{ dropdownli(data, "UI") }}
{{ dropdownli(data, "Network") }}
{{ dropdownli(data, "People") }}
{{ dropdownli(data, "Groups") }}

{%- endmacro%}


{% macro card(data) -%}
<div class="card_container col s12 l6">
    <div class="card {{ data.Web.UI.CardColor }}">
        {{ caller() }}
    </div>
</div>
{%- endmacro %}



{% macro input_text(variable, label, sizing, id, class='') -%}
<div class="input-field col {{ sizing }}">
    <input value="{{ variable }}" id="{{ id }}" type="text" class="{{ class }}">
    <label class="active" for="{{ id }}">{{ label }}</label>
</div>

{%- endmacro %}

{% macro sidenavli(data, title, icon, id) -%}

<li class="no-padding">
    <a id='sidenav_{{ id }}' class="collapsible-header {{ data.Web.UI.DropDownText }}" href="#!" onclick="
    $('.section').hide();

    $('#{{ id }}_section').show(); 
    $('.button-collapse').sideNav('hide');
    $('#logcard')[0].scrollTop = $('#logcard')[0].scrollHeight;
    "><i class="material-icons">{{ icon }}</i>{{ title }}</a>
</li>

{%- endmacro %}


{% macro topnavli(active, icon, id) -%}
<li id='topnav_{{ id }}' class="{{ active }} topnavli">
    <a href="#!" onclick="
    nav_activate('topnav_{{ id }}'); 

    $('.section').hide();

    $('#{{ id }}_section').show();
    $('#logcard')[0].scrollTop = $('#logcard')[0].scrollHeight;"><i class="material-icons">{{ icon }}</i></a>
</li>
{%- endmacro %}
