{% macro body(data) -%}

{% if data.Web.UI.BodyColor[0] == "#" %}
<body style="background-color:{{ data.Web.UI.BodyColor }}">
{% else %}
<body class="{{ data.Web.UI.BodyColor }}">
{% endif %}
    
{{ caller() }}

</body>

{%- endmacro %}


{% macro dropdownli(data, form) -%}
<li>
    <a class="{{ data.Web.UI.DropDownText }}" href="#!" onclick="hide('main_section'); hide('hvac_section'); hide('plotly_section'); show('settings_section'); hideforms(); show('{{ form }}Form'); nav_activate('topnav_settings')">{{ form }}</a>
</li>
{%- endmacro %}

{% macro dropdown(data) -%}

{{ dropdownli(data, "UI") }}
{{ dropdownli(data, "Network") }}
{{ dropdownli(data, "Groups") }}

{%- endmacro%}


{% macro card(data) -%}
<div class="card_container col s12 l6">
    <div class="card {{ data.Web.UI.CardColor }}">
        {{ caller() }}
    </div>
</div>
{%- endmacro %}



{% macro input_text(variable, label, sizing, id, class='') -%}
<div class="input-field col {{ sizing }}">
    <input value="{{ variable }}" id="{{ id }}" type="text" class="{{ class }}">
    <label class="active" for="{{ id }}">{{ label }}</label>
</div>

{%- endmacro %}

{% macro sidenavli(data, title, icon, id) -%}

<li class="no-padding">
    <a id='sidenav_{{ id }}' class="collapsible-header {{ data.Web.UI.DropDownText }}" href="#!" onclick="hide('settings_section'); hide('main_section'); hide('hvac_section'); hide('plotly_section'); show('{{ id }}_section'); $('.button-collapse').sideNav('hide')"><i class="material-icons">{{ icon }}</i>{{ title }}</a>
</li>

{%- endmacro %}


{% macro topnavli(active, icon, id) -%}
<li id='topnav_{{ id }}' class="{{ active }}">
    <a href="#!" onclick="nav_activate('topnav_{{ id }}'); hide('settings_section'); hide('main_section'); hide('hvac_section'); hide('plotly_section'); show('{{ id }}_section')"><i class="material-icons">{{ icon }}</i></a>
</li>
{%- endmacro %}
