<!doctype html>
<html lang=''>

<head>
    <meta charset='utf-8'>
    <meta id="wsport" content="{{ data.WebSocket.port }}">  
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    
    <title>Control Panel - Settings</title>
    
    <script src="script.js"/></script>
    
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.css"  media="screen,projection"/>
    
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
     
	 
	 
	<!-- lollipop chrome top bar color -->
	<meta name="theme-color" content="{{ data.Web.UI.ChromeHeaderColor }}">
</head>

{% if data.Web.UI.BodyColor[0] == "#" %}
	<body style="background-color:{{ data.Web.UI.BodyColor }}">

{% else %}
	<body class="{{ data.Web.UI.BodyColor }}">
		
{% endif %}

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
	
	<div class="navbar-fixed">
    	<nav>
    	    <div class="nav-wrapper {{ data.Web.UI.NavColor }}">
    	        <ul id="nav-mobile" class="left">
    	            <li><a href="/home/"><i class="mdi-action-home"></i></a></li>
    	            <li class="active"><a href="#!" class="right"><i class="mdi-action-settings"></i></a></li>
    	        </ul>
    	        <ul id="nav-mobile" class="right">
    	            <li><a href="https://github.com/therealtylerdurden/rpi-home-controller/"><i><img src="GH-mk.png"/></i></a></li>
    	        </ul>
    	    </div>
    	</nav>
	</div>

    <!-- begin "body" -->


    <div id='content'>
		
		<div style="margin-top:30px"></div>
		<form id='form1'>
		<div class="row">
		    <div class="input-field col s4">
		      <input value="{{ data.HTTP.port }}" id="HTTP_Port" type="text" class="validate">
		      <label class="active" for="HTTP_Port">HTTP Port</label>
		    </div>
		    <div class="input-field col s4">
		      <input value="{{ data.WebSocket.port }}" id="WebSocket_Port" type="text" class="validate">
		      <label class="active" for="HTTP_Port">WebSocket Port</label>
		    </div>
		    <div class="input-field col s4">
		      <input value="{{ data.TCP.port }}" id="TCP_Port" type="text" class="validate">
		      <label class="active" for="HTTP_Port">TCP Port</label>
		    </div>
		</div>
		<div class="row">
		    <div class="input-field col s4">
		      <input value="{{ data.Web.UI.NavColor }}" id="NavColor" type="text" class="validate">
		      <label class="active" for="NavColor">Navigation Bar Color</label>
		    </div>
		    <div class="input-field col s4">
		      <input value="{{ data.Web.UI.BodyColor }}" id="BodyColor" type="text" class="validate">
		      <label class="active" for="BodyColor">Body Color</label>
		    </div>
		    <div class="input-field col s4">
		      <input value="{{ data.Web.UI.ChromeHeaderColor }}" id="ChromeHeaderColor" type="text" class="validate">
		      <label class="active" for="ChromeHeaderColor">Android 5 Chrome Header Color</label>
		    </div>
		</div>
		
		
		<div class="row">
		    <div class="input-field col s6">
		      <input value="{{ data.Web.UI.LabelColor }}" id="LabelColor" type="text" class="validate">
		      <label class="active" for="LabelColor">Group Label Text Color</label>
		    </div>
		    <div class="input-field col s6">
		      <input value="{{ data.Web.UI.WaveType }}" id="WaveType" type="text" class="validate">
		      <label class="active" for="WaveType">Switch Wave Effect Type</label>
		    </div>
		</div>
		
		
		<div class="row">
		    <div class="input-field col s6">
		      <input value="{{ data.Web.UI.SwitchKnobColorOff }}" id="SwitchKnobColorOff" type="text" class="validate">
		      <label class="active" for="SwitchKnobColorOff">Switch Knob (OFF)</label>
		    </div>
		    <div class="input-field col s6">
		      <input value="{{ data.Web.UI.SwitchKnobColorOn }}" id="SwitchKnobColorOn" type="text" class="validate">
		      <label class="active" for="SwitchKnobColorOn">Switch Knob (ON)</label>
		    </div>
		</div>
		<div class="row">
			<div class="input-field col s6">
		      <input value="{{ data.Web.UI.SwitchBGColorOff }}" id="SwitchBGColorOff" type="text" class="validate">
		      <label class="active" for="SwitchBGColorOff">Switch Background (OFF)</label>
		    </div>
		    <div class="input-field col s6">
		      <input value="{{ data.Web.UI.SwitchBGColorOn }}" id="SwitchBGColorOn" type="text" class="validate">
		      <label class="active" for="SwitchBGColorOn">Switch Background (ON)</label>
		    </div>
		</div>
		
		<div class="submitcontainer">
			<a class="btn waves-effect waves-light" name="submitbutton" onclick="send_json_data()">Submit
		    	<i class="mdi-content-send right"></i>
			</a>
		</div>
		</form>
    </div>
	
	
	<style type='text/css'>
	
	div.submitcontainer {
		float: right;
		margin-bottom: 30px;
		margin-right: 30px;
	}
	
	</style>
	
	
	
</body>
<html>
